<a href="/dash"><i class="fas fa-arrow-circle-left fa-2x"></i></a><br>
<h1>Nombra tu playlist y añade canciones!</h1>
<br>

<form action="/playlists/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
    <input type="text" name="name" placeholder="Nombre de tu playlist" class="form-control">  
    </div>
        <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">
          Crear
       </button>
    </div>

</form>