
<dv class="jumbotron">
  <h1 class="display-4">Music.io</h1>
  <p class="lead">Bienvenido.</p>
  <hr class="my-4">
  <p>Escucha tus canciones favoritas, busca tus canciones preferidas y crea tus playlists.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Acerca de</a>
  </p>
</div>

<h1 class="text-center">Unete y empieza!</h1>
