<a href="/dash"><i class="fas fa-arrow-circle-left fa-2x"></i></a><br><br>
<div class="row">
  <div class="col-md-7 mx-auto">
  <h1>Opciones de Administrador.</h1><br> 
<div class="list-group">
  <a href="/manage-songs" class="list-group-item list-group-item-action" aria-current="true">
    Administrar Canciones
  <a href="/subir" class="list-group-item list-group-item-action">Subir canciones</a>
</div>
  </div>
</div>