<h1>Bienvenido! {{name}}</h1>

<div class="list-group">
  <a href="/play" class="list-group-item list-group-item-action active" aria-current="true">
    Canciones
  </a>
  <a href="/playlists" class="list-group-item list-group-item-action">Playlists</a>
  <a href="/subir" class="list-group-item list-group-item-action">Subir canciones</a>
  <a href="/albums" class="list-group-item list-group-item-action">Albums</a>
</div>