<div class="row">
  <div class="col-md-7 mx-auto">
    {{#with user}}
  <h1>Hola, {{name}}.</h1><br> 
{{/with}}
<div class="list-group">
  <a href="/songs" class="list-group-item list-group-item-action" aria-current="true">
    Todas las Canciones
  </a>
  <a href="/find" class="list-group-item list-group-item-action" aria-current="true">
    Buscar
  </a>
  <a href="/favs" class="list-group-item list-group-item-action" aria-current="true">
    Favoritos
  </a>
  <a href="/playlists" class="list-group-item list-group-item-action">Playlists</a>
  <a href="/profile" class="list-group-item list-group-item-action">Tu Perfil</a>
</div><br>

<div class="list-group">
  <a href="/admin" class="list-group-item list-group-item-action" aria-current="true">
    Opciones de Administrador.
  </a>
</div>
  </div>
</div>