<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Registrate y disfruta de tu musica favorita
            </div>
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Tu Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Tu Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Tu Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm_password" placeholder=" Confirma tu Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        REGISTRARSE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>